<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mywork.spring.dao.user.UserMapper">
    <select id="getUser" resultType="java.util.Map">
        select u.*, h.hr_staff_info_id from user_user u left join  hr_staff_info h on h.hr_staff_info_id = u.user_id
    </select>

    <select id="getLoginUser" parameterType="com.mywork.spring.dto.user.UserDto" resultType="java.util.Map">
        select user_name, password from user_user where user_show_id = #{userName}
        <if test="password != null and password != ''">and (password = #{password})</if>
    </select>
</mapper>