<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mywork.spring.dao.user.UserMapper">
    <select id="getUser" resultType="java.util.Map">
        select * from user
    </select>

    <select id="getLoginUser" parameterType="com.mywork.spring.dto.user.UserDto" resultType="java.util.Map">
        select user_name, password from user where user_name = #{userName}
        <if test="password != null and password != ''">and (password = #{password})</if>
    </select>
</mapper>